<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smake</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"></script>
    <script src="{{ url_for('static', filename='JS/app.js') }}"></script>
    {% block head %} {% endblock%}
</head>

<body>
    {% block body %} {% endblock%}

</body>

</html>