{% extends 'base.html'%} {% block head %} {% endblock %} {% block body %}
<div id="wrap">
    <h1> Sign Up</h1>
    <form action="" method="POST" novalidate>
        {% if not same_pass %}
            <p> Your pass word and confirmed password did not match</p>
        {% endif %}
        {% if duplicate %}
            <p> The username is already taken! </p>
        {% endif %}
        
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}
            {% for error in form.confirm_password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>

    </form>
</div>
{% endblock %}